body{
  display:flex;
  flex-direction: column;
  /*justify-content: center; */
  /*align-items: center; */
}

.dropbtn{
  background-color: #eac365;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}

.dropdown{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.dropdown-content{ /* hidden by default */
  display: none;
  background-color: white;
  
}

.dropdown-content a{ /* links inside dropdown */
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* change color of dropdown links on hover */
.dropdown-content a:hover{background-color: #f8edd0;}

/* show dropdown menu on hover */
.dropdown:hover .dropdown-content {display:block;}

/* change background color of dropdown button when dropdown content is shown  */
.dropdown:hover .dropbtn {background-color:#d2af5a;}









.customersFormDiv, .carsFormDiv, .partsFormDiv{
  display:none;
  margin-bottom:10px;
}
.customersInputForm, .carsInputForm, .partsInputForm{
  display:block;
  background-color: white;
}








.newStock{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.partsTable, .newStock, .updateData{
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.partsTable thead{
  font-weight: bold;
}

.partsTable td{
  padding: 5px;
}

.updateData{
  display:flex;
  justify-content: center;
  align-items: center;
}

input, select{
  padding:5px;
  margin:5px;
}


